<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder> <!-- Corrected from 'endcoder' to 'encoder' -->
            <!-- Setting date and time in the log -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>C:\Users\sachi\Downloads\CNS-TEAM-WORK\pos_system_back_end\app.log</file> <!-- Closed the file element correctly -->
        <append>true</append>
        <encoder> <!-- Corrected from 'endcoder' to 'encoder' -->
            <!-- Setting date and time in the log -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>
